body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: sans-serif;

    /*
    background-image: url(img/fondo_test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    */
}

p,h1,h2,h3,h4,h5,h6,ul{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

		

h1{
    margin-top: 50vh;
    text-align:center;
    /*
    text-shadow: 0 0 10px #fff;
    */
}



p{
    text-align:center;
}

.textoconstruccion{
    margin-top: 70vh;
    font-size: 60px;
    letter-spacing: 4px;
    color: #00DF82;
    font-size: clamp(1.2rem, 6vw, 3rem);
}

.videofondo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

audio {
    position: fixed;
    bottom: 0;
    color-scheme: dark;
    opacity: 50%;
    width: 100%;
}
